<div>
<jce-post-form (postAddedEvent)="addPost($event)"></jce-post-form>
<h2>Posts List (From FireBase):</h2>	
<jce-spinner [visible]="isLoading"></jce-spinner>
  <ul>
    <li *ngFor="let post of posts" class="list-group-item" (click)="select(post)" [class.active]="currentPost == post">
      <jce-post [post]="post" (deleteEvent)="deletePost($event)" (editEvent)="editPost($event)"></jce-post>
    </li>

  </ul>

<h2>Posts and Users List (From FireBase):</h2>
<jce-spinner [visible]="isLoading"></jce-spinner>
  <ul>
    <li *ngFor="let post of posts" class="list-group-item" (click)="select(post)" [class.active]="currentPost == post">
      <jce-post [post]="post" (deleteEvent)="deletePost($event)" (editEvent)="editPost($event)"></jce-post>
      <ul>
        <li *ngFor= "let name of post.userName">
          {{(name | async)?.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>
